<!DOCTYPE html>
<html>
<head>
    <title>Patient Form</title>
    <link rel="stylesheet" href="/static/css/style.css?v=1">
    <link rel="stylesheet" href="/static/css/shared.css">
</head>

<body>
    <!-- Navigation Bar -->
    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/form">Form</a>
        <a href="/update">Update</a>

    </div>

    <div class="container">
        <h1>Mini Patient Management System</h1>
        <p>This is a mini project built using <strong>FastAPI</strong> — a modern web framework for building APIs with <strong>Python</strong>. The project follows the principles of a <strong>RESTful API</strong>, allowing standardized interaction between the client and server.</p>
        <h2>Features:</h2>
        <ul>
            <li>Add new patient records</li>
            <li>Update existing patient information</li>
            <li>Delete patient records</li>
            <li>View all stored patient entries</li>
        </ul>

        <p>All data is stored in a <strong>Microsoft SQL Server Management Studio (SSMS)</strong> database.</p>
        <h2>FastAPI & REST:</h2>
        <p>FastAPI is used to create RESTful API endpoints that handle HTTP requests (GET, POST, PUT, DELETE). Each operation is mapped to a specific route using REST principles.</p>

        <h2>Project File Structure:</h2>
        <table>
            <thead>
                <tr><th>File</th><th>Purpose</th></tr>
            </thead>
            <tbody>
                <tr><td><code>main.py</code></td><td>Main app, templates, HTML form handling</td></tr>
                <tr><td><code>routers/patient.py</code></td><td>REST API endpoints (JSON-based)</td></tr>
                <tr><td><code>models/patient.py</code></td><td>Pydantic model validation, BMI logic</td></tr>
                <tr><td><code>db_config/...</code></td><td>DB connection logic</td></tr>
            </tbody>
        </table>
    </div>
</body>
