<!DOCTYPE html>
<html>
<head>
    <title>Patient Form</title>
       <link rel="stylesheet" href="/static/css/style.css?v=1">
        <link rel="stylesheet" href="/static/css/shared.css">
</head>

<body>
    <!-- Navigation Bar -->
    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/form">Form</a>
        <a href="/update">Update</a>

    </div>
    <div class="container">
        <h2>Patient Submitted Data</h2>
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in patient.items() %}
                    <tr>
                        <td><strong>{{ key.replace('_', ' ').title() }}</strong></td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
